{% load static %}
<div class="container">
        <div class="footer-bottom float-left">
            <div class="border-top1">
                <div class="border-top2">
                <div class="container">
                    <div class="float-right align-right">
                        <p>Copyright &copy;2023 by <a href="https://www.webgladiolus.com/" title="title">webgladiolus</a>. Powered by <a href="https://www.webgladiolus.com/" title="title">webgladiolus</a></p>
                    </div>
                </div>
                </div>
                <!-- End border -->
            </div>
            <!-- End container -->
        </div>
</div>
